{% extends 'events/wrapper.html' %}

{% block content %}
    <div class="uk-margin uk-card-body ">
        <div class="uk-child-width-expand@s uk-child-width-1-2@s uk-grid-match" uk-grid>
            {% for event in object_list %}
                <a href="/{{ event.id }}"
                   class="uk-card uk-card-default uk-card-hover uk-card-body uk-link-toggle uk-grid-item-match">
                    <div class="uk-card-header">
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">
                                {{ event.place.title }}
                            </h3>
                            <p class="uk-text-meta uk-margin-remove-top">
                                <time datetime={{ event.date }}>{{ event.date|date:"d-m-Y" }}</time>
                            </p>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>Место отправления - {{ event.place.city }}</p>
                        {% for transport in event.transport.all %}
                            <p>Транспорт: {{ transport.title }}</p>
                            <div class="uk-card-badge uk-label">{{ transport.free_seats }}</div>
                        {% endfor %}
                    </div>
                    <div class="uk-card-footer">
                        {% for promoter in event.promoter.all %}
                            <span>{{ promoter.username }}</span>
                        {% endfor %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
